html {
  font-family: Ubuntu;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}
h1 {
  font-family: Ubuntu;
  font-size: 3.0rem;
}
p {
  font-size: 3.0rem;
}
.units {
  font-size: 1.2rem;
}
.dht-labels {
  font-size: 1.5rem;
  vertical-align: middle;
  padding-bottom: 15px;
}

.time {
  font-size: 1.2rem;
}
